 * {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
  } 
  
  input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  button  {
    background: #333333;
    background-color: #333333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
  }
  
  
   
  
  .container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 5px;
  }
  
  .caixa-1 {
    float: left;
    width: 100%;
    margin-top: 24px;
  }
  
  .caixa-2 {
    float: left;
    width: 100%;
    margin-top: 25px;
  }
  
   footer{
    height: 8px;
    width: 411px;
    left: 0px;
    top: 723px;
        
   }
   
  /*Layout Responsive - 1100px*/
   
   @media screen and (max-width: 1100px) {
    .caixa-1, .caixa-2, input[type=submit] {
      width: 100%;
      margin-top: 0; 
    }
  }
  .tabelaextrato{
    table-layout: auto; 
    width: 100%;
  }
  
 .ext2 {
      /* Extrato de transações */
  text-align: center;     
  text-indent: 15px;
  /*width: 174px;*/
  height: 50%;
  left: 109px;
  top: 21px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  
  
  color: #000000;
   }  
 .mc1 {
  /* Mercadoria */

width: 50%;
height: 22px;
left: 30px;
top: 0px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


  
   
  }
  
  .v1{
  /* Valor */
  
  
   
  width: 70em;
  height: 32px;
  left: 296px;
  top: 0px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  
  text-align: right;
  color: #000000;
  }
  
  .loremi{
      /* Lorem ipsum dolor sit amet consectetur */
  
   
  width: 60em;
  height: 34px;
  left: 30px;
  top: 29px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  
  
  color: #000000;
  }
  .dozenove{
      /* R$ 12.999,99 */
  
  
   
  width: 98px;
  height: 41.83px;
  left: 263px;
  top: 29px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: right;
  
  color: #000000;
  }
  
  .quisn{
      /* Quis nostrud exercitation */
  
  
   
  width: 231px;
  height: 18px;
  left: 30px;
  top: 78px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  
  
  color: #000000;
  }
  
  .novenove{
   
  width: 98px;
  height: 18px;
  left: 263px;
  top: 78px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: right;
  
  color: #000000;
  }
  
  .loremp{
      /* Lorem ipsum */
  
  
   
  width: 231px;
  height: 18px;
  left: 30px;
  top: 111px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  
  
  color: #000000;
  }
  
  .nv{
       
  width: 98px;
  height: 18px;
  left: 263px;
  top: 111px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: right;
  
  color: #000000;
  }
  
  .ptotal{
      /* Total */
    
   
  width: 72px;
  height: 18px;
  left: 30px;
  top: 140px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  
  
  color: #000000;
  
  }
   
  .somat{
      /* R$ 12.909,99 */
  
  
   
  width: 98px;
  height: 18px;
  left: 263px;
  top: 151px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: right;
  
  color: #000000;
  }
  .lucro{
     
    /* [LUCRO] */
    
    
    text-align: right;
    text-indent: 181%; 
    width: 98px;
    height: 18px; 
    left: 263px;
    top: 169px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    /* or 220% */
    
     
    
    color: #000000;
  }
   